[default]
# MAXVOLTAGE is the highest voltage the HV PSU can produce in kV.  For
# negative polarity devices, the value is negative.  The value is used
# e.g. for scaling the 12-bit integer, which the Technix serial
# protocol use for setting the voltage value.
MAX_VOLTAGE=-100.0

# MAXCURRENT is the highes current the HV PSU can produce in mA. The value
# is used e.g. for scaling the 12-bit integer, which the Technix
# serial protocol use for setting the current value.
MAX_CURRENT=50.0

# VOLTAGELIMIT is the maximum voltage for the particular application
# in kV.  The module will not ever push the voltage above the limit.
# For negative polarity PSU the value should be negative.
VOLTAGE_LIMIT=-20.0

# CURRENTLIMIT is the maximum voltage for the particular application
# in mA.  The module will not ever push the voltage above the limit.
# For negative polarity PSU the value should be negative.
CURRENT_LIMIT=5.0
